.page {
	width: 595px;
        height: 779px;
        z-index: 0;
}

.magnifier {
        overflow: hidden;
	position: absolute;
	border: 1px solid black;
	background-color: white;
	width: 400px; height: 400px;
        z-index: 100;
}

.magnifier img {
    z-index: 200;
}

